body {
    background: rgb(177,225,145);
    background: radial-gradient(circle, rgba(177,225,145,1) 0%, rgba(64,124,55,1) 100%);
}


.hide {
    display: none;
}

.btn-micro {
    padding: 0.25rem 0.25rem;
    font-size: 0.5rem;
    border-radius: 0.3rem;
}

.center-align {
    text-align: center;
}
.right-align {
    text-align: end;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

/*-----------------------header/navbar style */
.dropdown-item:hover {
    background-color: #C0CF50 !important;
    text-decoration: underline !important;
}

nav {
    background-color: #C0CF50 !important;
    padding: 1.2em 1em !important;
}


.logo {
    color: #000;
    margin: auto;
    font-size: 75%;
    text-decoration: none;
}

.logo:hover {
    color: #000;
}

.toggler-style {
    color: #000;
    z-index: 999;
    width: auto;
    margin: auto;
}

.nav-item {
    margin: auto;
}

/*-----------------------calendar style */
.calendar-header {
    margin: 0.75rem auto;
}

.card-header {
    color: #198754;
}
