body {
    /*background-color: red;*/
}
.hide {
    display: none;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: end;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
}

.error-message {
    color: red;
}