<!doctype html>
<html lang="en">
<head>

    <!-- Metas -->
    <meta name="description" content="blah blabla blah"/>
    <meta name="keywords" content="blah, blabla, blah"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=1"/>
    <link rel="canonical" href="https://earthlings-hackathon.herokuapp.com/"/>
    <meta name="robots" content="index, follow"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Facebook, LinkedIn, Google  -->
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="blah blabla blah"/>
    <meta property="og:description" content="blah blabla blah"/>
    <meta name="image" property="og:image" content="./readme_screenshots/screen_shot.png"/>
    <meta property="og:image:alt" content="blah blabla blah"/>
    <meta property="og:url" content="https://earthlings-hackathon.herokuapp.com/"/>
    <meta property="og:site_name" content="blah blabla blah"/>
    <meta name="author" content="Earthlings Team"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="blah blabla blah"/>
    <meta name="twitter:description" content="blah blabla blah"/>
    <meta name="twitter:image" content="./readme_screenshots/screen_shot.png"/>
    <meta name="twitter:image:alt" content="blah blabla blah"/>

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Page specific css block -->


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
          crossorigin="anonymous" type="text/css">

    <!-- Animate stylesheet -->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"-->
    <!--          type="text/css">-->

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- Favicon -->
    {#    <link rel="apple-touch-icon" sizes="180x180"#}
    {#          href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">#}
    {#    <link rel="icon" type="image/png" sizes="32x32"#}
    {#          href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">#}
    {#    <link rel="icon" type="image/png" sizes="16x16"#}
    {#          href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">#}
    {#    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">#}

    {% block css %}
    {% endblock %}

    {% block js %}
    
    {% endblock %}

    <title>

    </title>

</head>
<body>

    <header class="header-style">
        <nav class="col-12 navbar navbar-expand-lg navbar-light">
            <div class="row flex-wrap container-fluid">
                <div class="logo-container col-12 text-center mx-auto">
                    <h1>
                        <a href="{{ url_for('index') }}" class="logo">
                            Earthlings - Save Earth
                        </a>
                    </h1>
                </div>
                <button class="navbar-toggler toggler-style" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-8 collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="nav-item">
                            <a href="{{ url_for('index') }}" class="btn btn-lg">
                                <p>Home</p>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-lg">
                                <p>Calendar</p>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-lg">
                                <p>Blogs</p>
                            </a> 
                        </li>
                        {% if session.user %}
                            <li class="nav-item">
                                <a href="{{ url_for('categories') }}" class="btn btn-lg">
                                    <p>Categories</p>
                                </a> 
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('profile') }}" class="btn btn-lg">
                                    <p>My account</p>
                                </a> 
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('logout') }}" class="btn btn-lg">
                                    <p>Log out</p>
                                </a> 
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ url_for('register') }}" class="btn btn-lg">
                                    <p>Register</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('login') }}" class="btn btn-lg">
                                    <p>Log in</p>
                                </a> 
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<!-- flash messages -->
<div class="messages-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <span class="light-blue lighten-4 center-align">{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container body-container">

    {% block content %}

    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>