{% extends "base.html" %}

{% block content %}

    <h1>People thoughts</h1>
    {#    {% if blogs %}#}
    <ul>
        {#            {% for blog in blogs %}#}
        <li>
            <div class="blog-container">
                <div class="row">
                    <div class="col">
                        <span>Title</span>
                        <div class="category-container mt-3">
                            <ol class="breadcrumb"  style="--bs-breadcrumb-divider: '';">
                                <li class="breadcrumb-item"><a href="#" class="btn btn-sm btn-outline-secondary">category1</a></li>
                                <li class="breadcrumb-item" aria-current="page" ><a href="#" class="btn btn-sm btn-outline-secondary">category2</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, explicabo, ut! Esse
                            excepturi exercitationem fuga ipsa odit omnis quaerat ullam? At doloribus explicabo fugit id
                            quisquam, rem repellendus unde voluptatum.</p>
                        <span>By: somename</span>
                    </div>
                </div>
            </div>

        </li>
        {#            {% endfor %}#}
    </ul>
    {#    {% else %}#}
    {#        <p>No records found.</p>#}
    {#    {% endif %}#}
        <a href="{{ url_for('add_blog') }}" class="btn btn-secondary">Share your ideas</a>
{% endblock %}