

{% block calendar %}
<!-- eco planner calendar -->
<section id='cal' class='my-5 py-5'>
    <div class="container-lg my-5 py-5">
        <div class="text-center calendar-header my-5">
            <h1>Monthly Eco Planner & Tips</h1>
        </div>
     </div>

    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-lg-between g-2 mx-1 px-2">
        <!-- start of cards -->
        <div class="card border-success py-y mb-3 mt-3" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">January</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/eco-friendly-home.webp')}}" class="img-fluid rounded-start"
                    alt="eco-friendly home illustration">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Make your home eco-friendly</h3>
                        <p class="card-text">
                            Wrap your water heater in an insulating jacket.
                        </p>
                        <p class="card-text">
                            Replace your bulbs with energy efficient LEDs.
                        </p>
                        <p class="card-text">
                            Service your boiler regularly.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">February</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/less-meat.webp')}}" class="img-fluid rounded-start"
                    alt="fruits and vegetable illustration">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Eat lower on the food chain</h3>
                        <p class="card-text">
                            Fruits, vegetables, beans and nuts have much lower carbon footprints.
                        </p>
                        <p class="card-text">
                            Try meatless Mondays to save on greenhouse-gas equal to 80 miles cycling instead of driving.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">March</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/gently-used-goods.webp')}}" class="img-fluid rounded-start"
                    alt="used clothes in a box">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Donate gently used goods</h3>
                        <p class="card-text">
                            Recycling clothes and shoes helps the environment, just the same as recycling bottles, papers and plastic can.
                        </p>
                        <p class="card-text">
                            Donating clothes also help reduce landfill sites, water usage and your carbon footprint.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">April</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/reduce-reuse-recycle.webp')}}" class="img-fluid rounded-start"
                    alt="reduce, reuse and recycle illustration">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Reduce, Reuse, Recycle</h3>
                        <p class="card-text">
                            Reduce your food waste by buying only what you need.
                        </p>
                        <p class="card-text">
                            Maintain and repair clothes and appliances so they won't have to be replaced frequently.
                        </p>
                        <p class="card-text">
                            Borrow, rent or share items that are used infrequently.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">May</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/buy-local.webp')}}" class="img-fluid rounded-start"
                    alt="Illustration of fruit and vegetables for sale">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Buy local</h3>
                        <p class="card-text">
                            Find out what's in season and plan your meals based on what's available locally.
                        </p>
                        <p class="card-text">
                            Use ebay, Facebook marketplace and Gumtree. Subscribe to Oddbox.
                        </p>
                        <p class="card-text">
                            Join your local Community Supported Agriculture (CSA) network.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">June</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/less-plastic.webp')}}" class="img-fluid rounded-start"
                    alt="illustration of plastic bottles and recyclable materials">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Use less plastic</h3>
                        <p class="card-text">
                            Carry a reusable water bottle.
                        </p>
                        <p class="card-text">
                            Avoid over-packaged products.
                        </p>
                        <p class="card-text">
                            Say no to plastic straws and disposable cutleries.
                        </p>
                        <p class="card-text">
                            Carry a shopping bag.
                        </p>
                        <p class="card-text">
                            Avoid microbeads.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">July</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/shop-sustainably.webp')}}" class="img-fluid rounded-start"
                    alt="shopping online illustration">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Shop sustainably</h3>
                        <p class="card-text">
                            Go for quality over quantity.
                        </p>
                        <p class="card-text">
                            Choose products that have been responsibly sourced and produced without the use of harmful chemicals.
                        </p>
                        <P>
                            Consider or upgrade domestic appliances or electronics with the best energy efficiency rating
                            that you can afford.
                        </P>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">August</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/eco-vacation.webp')}}" class="img-fluid rounded-start"
                    alt="illustration of a family on a camping holiday">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Choose eco-friendly vacation</h3>
                        <p class="card-text">
                            Look at eco-tourism options.
                        </p>
                        <p class="card-text">
                            Choose the most environmentally friendly form of transport.
                        </p>
                        <p class="card-text">
                            Choose the most environmentally accommodation.
                        </p>
                        <p class="card-text">
                            Be a responsible guest - respect the local environment and limit energy use.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h2 class="card-header">September</h2>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/planting.webp')}}" class="img-fluid rounded-start"
                    alt="illustration of a woman and child gardening">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title h5">Gardening for the environment</h3>
                        <p class="card-text">
                            Plant a tree.
                        </p>
                        <p class="card-text">
                            Water your plants the way nature intended - use water that falls onto your roof.
                        </p>
                        <p class="card-text">
                            Go peat-free. When we take peat for our gardens, carbon is released and habitats are damaged.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header">October</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/shop-sustainably.webp')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Join tree planting activities </h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header">November</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/shop-sustainably.webp')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Join tree planting activities </h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header">December</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/shop-sustainably.webp')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Join tree planting activities </h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}