{% extends "base.html" %}

{% block content %}
    <h1>List Categories</h1>
    {% if categories %}
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td>
                    <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">                      
                        <i class="fas fa-edit"></i></a>
                </td>
            </tr>
            
            {% endfor %}
            </tbody>
            
        </table>
    {% else %}
        <p>No categories found.</p>
    {% endif %}
    <a href="{{ url_for('add_category') }}" class="btn btn-secondary">Add category</a>

{% endblock %}