{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}" type="text/css">
{% endblock %}
{% block js %}


{% endblock %}
{% block content %}
<!-- Trigger/Open The Modal -->

{% for item in animation_info %}
<!-- The Modal -->
<div id="{{item.title}}-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>{{item.title}} Modal</h2>
    <p>{{item.content}}</p>
  </div>

</div>
{% endfor %}

       
    <div class="orbit-wrapper">
        <div class="orbit">
            <div class="center-image ">
            <img src="{{url_for('static', filename='assets/earth.svg')}}" alt="">
            </div>
            <ul id="orbit-ul">
                {% for item in animation_info %}
                    <li id="{{item.title}}">
                        <div >
                            <img src="{{item.image}}" alt="{{ item.title }}">
                        </div>
                        <p>{{item.title}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/landing.js') }}"></script>

{% endblock %}