{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}" type="text/css">
{% endblock %}
{% block js %}


{% endblock %}
{% block content %}
<!-- Trigger/Open The Modal -->

{% for item in animation_info %}
<!-- The Modal -->
<div id="{{item.title}}-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>{{item.title}} Modal</h2>
    <p>{{item.content}}</p>
  </div>

</div>
{% endfor %}


    <div class="orbit-wrapper">
        <div class="orbit">
            <div class="center-image ">
            <img src="{{url_for('static', filename='assets/earth.svg')}}" alt="">
            </div>
            <ul id="orbit-ul">
                {% for item in animation_info %}
                    <li id="{{item.title}}">
                        <div >
                            <img src="{{item.image}}" alt="{{ item.title }}">
                        </div>
                        <p>{{item.title}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- eco planner calendar -->
    <div class="row row-cols-1 row-cols-md-3 justify-content-between g-2 mx-4 px-4">
        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header bg-transparent">January</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/eco-friendly-home.png')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Make your home eco-friendly</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header bg-transparent">February</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/less-meat.png')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Eat lower on the food chain</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-success py-y mb-3 mt-3 justify-content-between" style="max-width: 540px;">
            <div class="row g-2">
                <h3 class="card-header bg-transparent">March</h3>
                <div class="col-md-4">
                    <img src="{{url_for('static', filename='assets/gently-used-goods.png')}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Donate gently used goods</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>


    </div>

<script src="{{ url_for('static', filename='js/landing.js') }}"></script>

{% endblock %}