{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block content %}
    <p>Profile page</p>
    <p>Hi, {{ session.user }}</p>
    {% if blog_list %}
        <h3>Your created posts</h3>
        <ul>
            {% for blog in blog_list %}
                <li>
                    <div class="blog-container-item">
                        <div class="row">
                            <div class="col">
                                <span class="blog-title">{{ blog.title }}</span>
                                <div class="category-container mt-3" aria-label="breadcrumb">
                                    <ol class="breadcrumb" style="--bs-breadcrumb-divider: '';">
                                        {% for category in category_list %}
                                            {% for item in blog.categories %}
                                                {% if item == category._id | string %}
                                                    <li class="breadcrumb-item">
                                                        <span class="btn btn-micro btn-secondary">
                                                            {{ category.name }}
                                                        </span>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{ blog.blog_text }}</p>
                                <span>By: {{ blog.created_by }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="btn btn-sm btn-outline-info" id="edit_{{ blog._id }}">Edit</span>
                                <a href="#"
                                   id="{{ blog._id }}"
                                   class="btn btn-sm btn-outline-danger"
                                   data-id="{{ blog._id }}"
                                   data-bs-toggle="modal"
                                   data-bs-target="#delete_modal">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No records found.</p>
    {% endif %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_modal">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="delete_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="delete_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete_modalLabel">Are you sure you want to remove this?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="#" type="button" id="modal_delete_url" class="btn btn-primary">DELETE</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('delete_modal').addEventListener('show.bs.modal', (e) => {
            document.getElementById("modal_delete_url").href = `/delete_blog/${e.relatedTarget.dataset.id}`
        });
    </script>
{% endblock %}